<script>
$( function() {
    var places = ['品川','有楽町','浜松町','江戸川'];
    $( '#idolname' ).autocomplete({
        autoFocus: true,  //テキストフィールドの値をフォーカスされたアイテムの値で置き換える
        source: places,  //サジェストのデータを呼び出す
        minLength: 1  //オートコンプリートが動作する文字数を指定
    });
  });
  </script>

  <body>
<%= form_with(model: @user, local: true) do |form| %>
       <%= form.label :idolname %>
       <%= form.text_field :idolname, id: :idolname %>
       <%= form.submit %>
   <% end %>
   </body>