<h1>java</h1>
<textarea name="" id="hoge" cols="30" rows="10">みんな「かいぴしゅきしゅき～」</textarea>
<p><button onclick="clickButton()">クリックしてね</button></p>
<script>
function clickButton()(
    const hoge = document.getElementById("hoge");
    alart(hoge.value);
)
</script>