<html>
  <head>
    <title>JavaScriptを学ぼう</title>
      <meta charset="utf-8">
      <script type="text/javascript">
      function changeDisplay() {
          if ( document.Form1["number"][0].checked ) { // 「その他」のラジオボタンをクリックしたとき
            document . Form1["user[prefecture_id]"] . disabled = true; // 「その他」のラジオボタンの横のテキスト入力欄を無効化
            document . getElementById('user_prefecture_id') . style . display = "none"; // 「その他」のラジオボタンの横のテキスト入力欄を非表示
            document . Form1["user[ryakusyou]"] . disabled = true; // 「その他」のラジオボタンの横のテキスト入力欄を無効化
            document . getElementById('user_ryakusyou') . style . display = "none"; // 「その他」のラジオボタンの横のテキスト入力欄を非表示
          } else { // 「その他」のラジオボタン以外をクリックしたとき
              document . Form1["user[prefecture_id]"] . disabled = false; // 「その他」のラジオボタンの横のテキスト入力欄を有効化
              document . getElementById('user_prefecture_id') . style . display = "inline"; // 「その他」のラジオボタンの横のテキスト入力欄を表示
              document . Form1["user[ryakusyou]"] . disabled = false; // 「その他」のラジオボタンの横のテキスト入力欄を有効化
              document . getElementById('user_ryakusyou') . style . display = "inline"; // 「その他」のラジオボタンの横のテキスト入力欄を表示
          }
      }
      window.onload = changeDisplay; // ページを表示したとき、changeDisplay() を呼び出す
      </script>
  </head>


<%= stylesheet_link_tag 'login', :media => "all" %>


<div class="field">
  <form name="Form1" method="post" action="#">
<label for="user_利用者">利用者</label><br>
<input type="radio" value="0" name="number" id="user_syurui_0" onClick="changeDisplay()"/>
<label for='user_syurui_0'>一般</label>
<input type="radio" value="1" name="number" id="user_syurui_1" onClick="changeDisplay()"/>
<label for='user_syurui_1'>学生団体</label>
<input type="radio" value="3" name="number" id="user_syurui_2"  checked onClick="changeDisplay()"/>
<label for='user_syurui_2'>社会人団体</label>


<br><div style="display:none;" id="user_prefecture_id">
<label for="user_活動県">活動県（団体のみ）</label>
<br><select name="user[prefecture_id]"><option value="">選択して下さい</option>
<option value="1">北海道</option>
<option value="2">青森県</option>
<option value="3">岩手県</option>
<option value="4">宮城県</option>
<option value="5">秋田県</option>
<option value="6">山形県</option>
<option value="7">福島県</option>
<option value="8">茨城県</option>
<option value="9">栃木県</option>
<option value="10">群馬県</option>
<option value="11">埼玉県</option>
<option value="12">千葉県</option>
<option value="13">東京都</option>
<option value="14">神奈川県</option>
<option value="15">新潟県</option>
<option value="16">富山県</option>
<option value="17">石川県</option>
<option value="18">福井県</option>
<option value="19">山梨県</option>
<option value="20">長野県</option>
<option value="21">岐阜県</option>
<option value="22">静岡県</option>
<option value="23">愛知県</option>
<option value="24">三重県</option>
<option value="25">滋賀県</option>
<option value="26">京都府</option>
<option value="27">大阪府</option>
<option value="28">兵庫県</option>
<option value="29">奈良県</option>
<option value="30">和歌山県</option>
<option value="31">鳥取県</option>
<option value="32">島根県</option>
<option value="33">岡山県</option>
<option value="34">広島県</option>
<option value="35">山口県</option>
<option value="36">徳島県</option>
<option value="37">香川県</option>
<option value="38">愛媛県</option>
<option value="39">高知県</option>
<option value="40">福岡県</option>
<option value="41">佐賀県</option>
<option value="42">長崎県</option>
<option value="43">熊本県</option>
<option value="44">大分県</option>
<option value="45">宮崎県</option>
<option value="46">鹿児島県</option>
<option value="47">沖縄県</option></select>
</div>

<div id="user_ryakusyou" style="display:none;">
<br><label for="user_略称">略称</label><br />
<input size="30" type="text" name="user[ryakusyou]" id="input-number" />
</div>
</form>

</div>