<div class="title">
<% provide(:title, 'お問合せ') %>
<h1>お問合せ</h1>
</div>
<div id="contact">

     <h2>
    
    <iframe src="https://ws.formzu.net/fgen/S576109161/" style="height: 700px; max-width: 100%; width: 100%; border: 0;">このページでは、インラインフレームを使用しています。
    対応しているブラウザで表示願います。</iframe>
    
     </h2>
</div>