<%= stylesheet_link_tag 'question', :media => "all" %>

<div class="title">
<% provide(:title, 'よくあるご質問') %>
<h1>よくあるご質問</h1>
</div>

<div class="mainbox">

<div class="questionbox">
  <div class="question">
<i class="fa-solid fa-q q"></i>
  アカウント登録の方法が分かりません
  </div>
  <div class="answer">
  <i class="fa-solid fa-a a"></i>
  メニューの「ログイン」→「新規登録」と進み，必要事項を記入して新規登録ボタンを押すことでアカウント登録が完了します．
  なお，演奏会情報の投稿は利用区分が「学生団体」または「社会人団体」の場合にのみご利用いただけます．
  個人アカウントでは投稿できませんのでご注意ください．
  </div>
</div>

<div class="questionbox">
  <div class="question">
<i class="fa-solid fa-q q"></i>
  演奏会情報の投稿方法が分かりません
  </div>
  <div class="answer">
  <i class="fa-solid fa-a a"></i>  学生団体または社会人団体でログインしますと，画面右下に青いプラスボタンが出てきます．そこからご投稿いただけます．
  </div>
</div>

<div class="questionbox">
  <div class="question">
<i class="fa-solid fa-q q"></i>
  投稿は後から変更できますか？
  </div>
  <div class="answer">
  <i class="fa-solid fa-a a"></i>  はい，投稿詳細へとすすみ，「編集する」ボタンから変更できます．

  </div>
</div>

<div class="questionbox">
  <div class="question">
<i class="fa-solid fa-q q"></i>
  開演時間が未定でも投稿できますか？
  </div>
  <div class="answer">
  <i class="fa-solid fa-a a"></i>  はい，投稿の際開演時間を00:00と設定していただくことで未定と反映されます．
  </div>
</div>

<div class="questionbox">
  <div class="question">
<i class="fa-solid fa-q q"></i>
  アカウントの削除方法が分かりません
  </div>
  <div class="answer">
  <i class="fa-solid fa-a a"></i>  「マイページ」→「編集する」→「アカウントを削除する」から削除できます．
  </div>
</div>

</div>