<div class="mainbox">

<div class="questionbox">
  <div class="question">
  アカウント登録の方法が分かりません
  </div>
  <div class="answer">
  メニューの「ログイン」→「新規登録」と進み，必要事項を記入して新規登録ボタンを押すことでアカウント登録が完了します．
  なお，演奏会情報の投稿は利用区分が「学生団体」または「社会人団体」の場合にのみご利用いただけます．
  個人アカウントではご利用いただけませんのでご注意ください．
  </div>
</div>

<div class="questionbox">
  <div class="question">
  演奏会情報の投稿方法が分かりません
  </div>
  <div class="answer">
  学生団体または社会人団体でログインしますと，画面右下に青いプラスボタンが出てきます．そこからご投稿いただけます．
  </div>
</div>

<div class="questionbox">
  <div class="question">
  投稿は後から変更できますか？
  </div>
  <div class="answer">
  はい，投稿詳細へとすすみ，「編集する」
  </div>
</div>

<div class="questionbox">
  <div class="question">
  開演時間，開場時間が未定でも投稿できますか？
  </div>
  <div class="answer">
  アンサー
  </div>
</div>

<div class="questionbox">
  <div class="question">
  アカウントの削除方法が分かりません
  </div>
  <div class="answer">
  あんさー
  </div>
</div>

</div>