/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */

 .content .btn
 * {
   padding: 0;
   margin: 0;
 }

 .title{
  padding: 0em;
  margin-top: 4em;
  margin-bottom: 3em;
  width: fit-content;
  height: 3em;
  padding-left: 3em;
  padding-right: 1em;
  background-color: #d98e04;
  border-radius: 0px 20px 20px 0px;
  box-shadow: 40px -19px teal;
  }

 body {
   padding-top: 4em;
   background-color: #f6e3d0;
   background-size: cover;
   min-height: 100vh;
   position: relative; 
   font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ",
     Meiryo, "ＭＳ Ｐゴシック", sans-serif;
   display: flex;
   flex-direction: column;
   min-height: 100vh;
 }
 
 body, ol, td {
   font-family: verdana, arial, helvetica, sans-serif;
   line-height: 1em;
  }
 
 
 
 header {
   position: fixed;
   z-index: 10000;
   display: block;
   top: 0;
   width: 100%;
   box-shadow: 2px 2px 2px rgb(0, 0, 0 / 70%);
   background-color: #B4CF9E;
   max-width: 1300px;

   height: 4em;
   font-weight: bold;
   display: flex;
   justify-content: space-between;
 }
 header a {  //list&title
   color: black; 
   text-decoration: none; 
 }

 .header-list{
   margin-right: 1em;
 }

 .header-list i{
   padding: 0em 1em 0em 1em;
 }

 .header-list a:hover{ //上乗ったとき
   font-size: 0.9em;
   opacity: 0.7;//薄くなる
   filter: alpha(opacity=80);
   -moz-opacity: 0.8;
   -webkit-transition: 0.1s ease-in-out;
   -moz-transition: 0.1s ease-in-out;
   -o-transition: 0.1s ease-in-out;
   transition: 0.1s ease-in-out
   
 }

 .header-list c{
   font-size: 0.01em;
 }
 
 .header-title {
   padding-left: 0.7em;
   margin-left: 2em;
   font-size: 1em;
   display: flex;
   align-items: center;
   box-shadow: -15px 0px gold;
   }
   


 
 header ul {
   text-align:center;
   display: flex; 
   font-size: 1.5em;
   margin-top: 0.5em;

 }

 .pagenate_end ul {
  list-style-type: none;
  font-size: 20px;
  margin: 20px auto 0;
  width: 50%;
  display: flex;
  justify-content: center;
  
}

html{
  scroll-behavior: smooth;
}



.gotop{
  display: block;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  background: #FFF;
  border: 1px solid #999;
  padding-top: 30px;
  text-align: center;
  letter-spacing: -1px;
  font-size: 85%;
  text-decoration: none;
  color: #333;
  opacity: 0.5;
  position: fixed;
  right:0.5em;
  bottom: 7em;
  z-index: 10000;
}
.gotop::before{
  content: "";
  display: block;
  border-top: 2px solid #333;
  border-right: 2px solid #333;
  width: 25%;
  height: 25%;
  top: 25%;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  transform: rotate(-45deg);
}
.gotop:hover{
  opacity: 1;
}


.newpost{
font-size: 3em;
position:fixed;
right:0.2em;
bottom:0.7em;
transition:1s;
opacity:0.7;
}


footer {
  color: white;
  height: 30px;
  background-color: #000;
  bottom: 0;
  width: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: flex-end;
}



@media (max-width: 2000px){
  header li {
    list-style: none;
    margin-right: 2em;
  }
  
}

@media(max-width:632px){

  header li {
    list-style: none;
    margin-right: 0%;
    font-size: smaller;
  }
  .header-title{
    font-size: 0.6em;
  }
}
