* {
  padding: 0;
  margin: 0;
}

.mainbox{
  margin: 2%;
  margin-bottom: 3em;
}

details {
  border: 1px solid #542D24;
  border-radius: 4px;
  padding: .5em .5em 0;
  background-color: #e7dac3;
  max-width: fit-content;
  align-items: center;
  min-width: 96.3%;
}

.checkboxes{
  padding-bottom: 1%;
}

.like_button{
  font-size: 1em;
}

.thekkubokkusutokensaku{

}

  .tyekkubokkusuzentai{
    padding: 1%;
    line-height: 130%; 
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .kensakubotan{
    padding-top: 0.1em;
  text-align: center;  
  font-size: 0.9em;
  }  

  .calendar-heading {
    padding-top: 1em;
    padding-bottom: 10px;
    font-size: 20px;
    align-items: center;
    text-align:center;
    color: black;
  }

  .sbt-btn {
    display       : inline-block;
    border-radius : 1%;          /* 角丸       */
    font-size     : 12pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 3px 3px;   /* 余白       */
    background    : white;     /* 背景色     */
    color         : #000000;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    transition    : .3s;         /* なめらか変化 */
    border        : 2px solid #cccccc;    /* 枠の指定 */
  }

  .sbt-btn:hover {
    box-shadow    : none;        /* カーソル時の影消去 */
    color         : black;     /* 背景色     */
    background    : #cccccc;     /* 文字色     */
  }



    .table.table.table-striped{
      background-color: white;
    }

    .simple-calendar a{
      text-decoration: none;

    }

  .liked-btn {

    color: #808080; 
    }
   
   .unliked-btn {
    color: #e54747;
    }



@media(max-width:2000px){
  .thekkubokkusutokensaku{
  margin: 1%;
}

.tyekkubokkusuzentai{
  font-size: 1.1em;
}

.tyekkubokkusuzentai h4{
  font-size: 1.2em;
}

.kensakubotan{
}
}



@media(max-width:599px){
  .thekkubokkusutokensaku{
    border-width: 1px;
  }

  .tyekkubokkusuzentai{
    font-size: 0.9em;
  }
  .table.table-striped td{
    font-size: 0.8em;
  }

.table.table-striped thead{
  font-size: 0.9em;
  text-align: center;
}


}
