@media(max-width:599px){
  .post-top{
    padding: 20px;
    font-size: auto;
    text-align: center;
 }
 
 .post-zentai{
   background-color: #cae95a;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap; //大事
   text-align: center;
   width: 100%;
   align-items: stretch;
 }


 
 .posts-container {
     background-color: #F7F4EE;
     width: 400px;
     margin: 10px auto;
   }
 
   .posts-container p {
     background-color: aquamarine;
     margin: 10px;
     text-align: left;
   }
 
   .left-container{
     background-color: green;
     margin-left: 10%;
   }
 
   .right-container{
     background-color: yellow;
     margin-right: 100%;
   }
   
   .kensaku {
     padding-top: 0em;
     width: 200px;
     margin: 30px auto;
     text-align: center;
   }
 
   .main-box {
     background-color: bisque;
     margin: 0px 0;
     display: flex;
     justify-content: space-between;
   }
   .time {
     display: flex;
     justify-content: flex-end;
   }
 
 .zyunban h1,li{
   margin: 10px;
   display: flex;
 }
 

}