.mainbox_login{
    margin-bottom: 2em;
}

.login_title h2{
    font-size: 2em;
    font-weight: 100;
        color: white;
        padding-top: 0.5em;
        padding-bottom: 0em;
        padding-left: 1.5em;
        padding-right: 1em;
        margin-top: 1.5em;
        margin-bottom: 1em;
        width: fit-content;
        height: 1em;

        background-color: #D98E04;
        border-radius: 0px 20px 20px 0px;
        box-shadow: 3px 3px 3px rgb(0, 0, 0 / 10%);
      
        }

.button_login{
    margin-left: 2em;
    line-height: 180%;
}