// Place all the styles related to the policy controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.zentai{
    margin: 1em 0.5em 2em 0.5em;
}

.dai{
    font-size: 1.5em;
    margin-bottom: 1em;
}
.zyou{
    margin-top: 2em;
    font-weight: bold;
}

.dai1{
    margin-left: 1em;
    line-height: 1.3em;

}

.dai2{
    margin-left: 2em;
    line-height: 1.3em;

}

.dai3{
    margin-left:1em;
    line-height: 1.3em;

}

.dai4{
    margin-left: 1em;
    line-height: 1.3em;

}