.post_show{
    margin-left: 2em;
}

.post_shousai{
    line-height: 180%;
    margin-top: 2em;
}



.post_shousai p{
    font-size: 1em;
}

.post_shousai a{
    
}

.gm-style{

}

.comments{

}

.comment-wrapper{

}

@media(max-width:2000px){
    .post_shousai h2{
        font-size: 1.5em;
    }}

@media(max-width:599px){
    .post_shousai h2{
        font-size: 1.2em;
    }}