.post_show{
    margin-left: 1em;
    margin-right: 1em;
}

.post_shousai{
    line-height: 180%;
    margin-top: 2em;
}

.post_tyuuou{
    width: fit-content;
    margin: auto;
    background-color: #F2F2F2;
    padding: 3%;
}


.post_shousai p{
    font-size: 1em;
}

.post_shousai a{
    
}

.gm-style{

}

.gazou{
    max-width: fit-content;
}

#map{
    padding-right: 30%;
    margin: 1em 0em 1em 0em;
}

.comments{
margin: 1em 0em 1em 0em;
}

.comment-wrapper{
line-height: 1.5em;
}

iframe.line-it-button{
    padding-left: 0.8em;
}

img.calendar{
    margin-left: 1.5em;
}

.kyouyuu{
    margin-top: 1em;
}

.kyouyuu li{
    display: inline;
}

.kyouyuu k{
    font-size: smaller;
    position: static;
}

.kyouyuu r{
    font-size: smaller;
}

.calfile{
    display: none;
}

@media(max-width:4000px){
    .post_shousai h2{
        font-size: 1.5em;
    }}

@media(max-width:599px){
    .post_shousai h2{
        font-size: 1.2em;
    }}