<p><%= @resource.email %>さん　いつも当サイトをご利用いただきありがとうございます。</p>

<p>パスワードの再設定のリクエストがありました。 以下のリンクから再設定の手続きができます。</p>

<p><%= link_to 'パスワードの再設定', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このメールに覚えがない場合はメールを削除してください。</p>
<p>上記のリンクにアクセスし、変更するまでパスワードは変更されません。</p>