<html>
  <head>
      <meta charset="utf-8">
      <script type="text/javascript">
      function changeDisplay() {
          if ( document.Form1["user[syurui]"][0].checked ) { 
            document . Form1["user[prefecture_id]"] . disabled = true; 
            document . getElementById('user_prefecture_id') . style . display = "none"; 
            document . Form1["user[ryakusyou]"] . disabled = true; 
            document . getElementById('user_ryakusyou') . style . display = "none"; 
            document . Form1["user[name]"] . disabled = true; 
            document . getElementById('user_name') . style . display = "none"; 
            document . Form1["user[profile]"] . disabled = true;
            document . getElementById('user_profile') . style . display = "none"; 
            document . Form1["user[url]"] . disabled = true;
            document . getElementById('user_url') . style . display = "none"; 
            document . Form1["user[twitterid]"] . disabled = true;
            document . getElementById('user_twitterid') . style . display = "none"; 
            document . Form1["user[insta_name]"] . disabled = true;
            document . getElementById('user_insta_name') . style . display = "none"; 
            document . Form1["user[nicname]"] . disabled = false;
            document . getElementById('user_nicname') . style . display = "inline"; 

          } else { 
              document . Form1["user[prefecture_id]"] . disabled = false;
              document . getElementById('user_prefecture_id') . style . display = "inline"; 
              document . Form1["user[ryakusyou]"] . disabled = false;
              document . getElementById('user_ryakusyou') . style . display = "inline"; 
              document . Form1["user[name]"] . disabled = false;
              document . getElementById('user_name') . style . display = "inline"; 
              document . Form1["user[profile]"] . disabled = false;
              document . getElementById('user_profile') . style . display = "inline";
              document . Form1["user[url]"] . disabled = false;
              document . getElementById('user_url') . style . display = "inline"; 
              document . Form1["user[twitterid]"] . disabled = false;
              document . getElementById('user_twitterid') . style . display = "inline"; 
              document . Form1["user[insta_name]"] . disabled = false;
              document . getElementById('user_insta_name') . style . display = "inline"; 
              document . Form1["user[nicname]"] . disabled = true; 
              document . getElementById('user_nicname') . style . display = "none"; 
          }
      }      



      window.onload = changeDisplay; // ページを表示したとき、changeDisplay() を呼び出す
      </script>
  </head>

<%= stylesheet_link_tag 'login', :media => "all" %>

<div class="mainbox_login">

  <div class="login_title">
   <h2>新規登録</h2>
  </div>


<div class="field">
<form name="Form1" class="new_user" id="new_user" action="/users" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="tdcIhDD9jK3m-dZOlDS-ldMd59ix9byFAiv78MVgnDBDk_Xy093ZvFj-fVGPir2L_urcnt33gfgXEC2PzYO5cA" />

<label for="user_利用者">利用区分</label><br>
<input type="radio" value="0" name="user[syurui]" id="user_syurui_0" checked onClick="changeDisplay()"/>
<label for='user_syurui_0'>個人</label>
<input type="radio" value="1" name="user[syurui]" id="user_syurui_1" onClick="changeDisplay()"/>
<label for='user_syurui_1'>学生団体</label>
<input type="radio" value="2" name="user[syurui]" id="user_syurui_2" onClick="changeDisplay()"/>
<label for='user_syurui_2'>社会人団体</label>
</div>

<div class="field">
<div class="field1" id="user_name" style="display:none;">
<label for="user_正式団体名"><br>正式団体名</label><br>
<input autofocus="autofocus" size="30" type="text" name="user[name]" required/>
</div>

<div class="field2" id="user_nicname" style="display:none;">
<label for="ニックネーム"><br>ニックネーム（コメント時に表示されます）</label><br>
<input autofocus="autofocus" size="30" type="text" name="user[nicname]" required/>
</div>

<div class="field1" id="user_ryakusyou" style="display:none;">
<br><br><label for="user_略称">略称（アルファベットのみの表記は非推奨）</label><br />
<input size="30" type="text" name="user[ryakusyou]" id="input-number" placeholder="唯一に定まる最短の名前　非推奨:〇〇MC" required/>
</div>

<br><br><div class="field1" style="display:none;" id="user_prefecture_id">
<label for="user_活動県">活動県</label>
<br><select name="user[prefecture_id]" required><option value="">選択して下さい</option>
<option value="1">北海道</option>
<option value="2">青森県</option>
<option value="3">岩手県</option>
<option value="4">宮城県</option>
<option value="5">秋田県</option>
<option value="6">山形県</option>
<option value="7">福島県</option>
<option value="8">茨城県</option>
<option value="9">栃木県</option>
<option value="10">群馬県</option>
<option value="11">埼玉県</option>
<option value="12">千葉県</option>
<option value="13">東京都</option>
<option value="14">神奈川県</option>
<option value="15">新潟県</option>
<option value="16">富山県</option>
<option value="17">石川県</option>
<option value="18">福井県</option>
<option value="19">山梨県</option>
<option value="20">長野県</option>
<option value="21">岐阜県</option>
<option value="22">静岡県</option>
<option value="23">愛知県</option>
<option value="24">三重県</option>
<option value="25">滋賀県</option>
<option value="26">京都府</option>
<option value="27">大阪府</option>
<option value="28">兵庫県</option>
<option value="29">奈良県</option>
<option value="30">和歌山県</option>
<option value="31">鳥取県</option>
<option value="32">島根県</option>
<option value="33">岡山県</option>
<option value="34">広島県</option>
<option value="35">山口県</option>
<option value="36">徳島県</option>
<option value="37">香川県</option>
<option value="38">愛媛県</option>
<option value="39">高知県</option>
<option value="40">福岡県</option>
<option value="41">佐賀県</option>
<option value="42">長崎県</option>
<option value="43">熊本県</option>
<option value="44">大分県</option>
<option value="45">宮崎県</option>
<option value="46">鹿児島県</option>
<option value="47">沖縄県</option></select>
</div>

<div class="field1" id="user_profile" style="display:none;">
<br><br><label for="user_プロフィール">プロフィール<c>任意</c></label><br />
<textarea name="user[profile]" cols="30" rows="7" placeholder="マイページから編集できます">
</textarea>
</div>

<div class="field1">
<div class="field1" id="user_url" style="display:none;">
<label for="user_公式HP URL"><br>公式HP URL<c>任意</c></label><br>
<input size="30" type="url" name="user[url]" >
</div>
</div>

<div class="field1">
<div class="field1" id="user_twitterid" style="display:none;">
<label for="twitter id"><br>twitter id（@は含めないでください）<c>任意</c></label><br>
<input size="30" type="text" name="user[twitterid]">
</div>
</div>

<div class="field1">
<div class="field1" id="user_insta_name" style="display:none;">
<label for="インスタのユーザーネーム"><br>インスタのユーザーネーム<c>任意</c></label><br>
<input size="30" type="text" name="user[insta_name]" >
</div>
</div>

<div class="field">
<label for="user_email">メールアドレス</label><br />
<input autocomplete="email" size="30" type="email" value="" name="user[email]" id="user_email" required/>
</div>

<div class="field">
<label for="user_パスワード">パスワード</label>
<em>(6 文字以上)</em>
<br />
<input autocomplete="new-password" size="30" type="password" name="user[password]" id="user_password" minlength="6" required/>
</div>

<div class="field">
<label for="user_パスワード（再入力）">パスワード（再入力）</label><br />
<input autocomplete="new-password" size="30" type="password" name="user[password_confirmation]" id="user_password_confirmation" minlength="6" required/>
</div>

<div class="field">
<%= link_to "プライバシーポリシー", policy_privacypolicy_path %><br />
<%= link_to "利用規約", policy_riyoukiyaku_path %><br />
<div>
<input type="checkbox" id="プライバシーポリシー及び利用規約に同意する" name="プライバシーポリシー及び利用規約に同意する" required/>
<label for="プライバシーポリシー及び利用規約に同意する">プライバシーポリシー及び利用規約に同意する</label>
</div></div>


<div class="button_login">
  <div class="actions">
    <input type="submit" name="commit" value="新規登録" data-disable-with="新規登録" />
  </div>

</form>

<a href="/users/sign_in">ログイン</a><br />
</div>
</div>
</div>


